<div class="row">
  <div class="medium-12 columns">
    <h1 style="padding-bottom:0px;margin-bottom:0px;">Welcome Home!</h1>
    <h5 class="subheader" style="margin-bottom:20px;"><em>Let's collect some data!</em></h5>
    <a href="#/score" class="button">Collect Score</a><br />
    <a href="#/teamSearch" class="button">Collect / Edit / View Team</a>
    <a href="#/robot" class="button">Collect Robot and Details</a>
    <br /> <br />
    <a href="../admin/edit/#/robot-details" class="button">View Robot Details <em>(link)</em></a>
  </div>
</div>