<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Round Data Input</title>
<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
<script src="js/vendor/modernizr.js"></script>
</head>
<body>
<div class="row">
  <div class="medium-12 columns">
    <h1>Round Data Input</h1>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <p> <strong> Round Number </strong>
    <div style="margin-top:20px">
      <input type="text" placeholder="#" maxlength="3" />
    </div>
    </p>
  </div>
</div>
<div class="row callout panel">
  <div class="medium-6 columns"> <strong> Red Teams </strong>
    <div style="margin-top:20px">
      <p> <i class="fi-torsos-all" style="color:#C00"></i> &nbsp; Red 1 </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
    </div>
    <div style="margin-top:20px">
      <p> <i class="fi-torsos-all" style="color:#C00"></i> &nbsp; Red 2 </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
    </div>
    <div style="margin-top:20px">
      <p> <i class="fi-torsos-all" style="color:#C00"></i> &nbsp; Red 3 </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
    </div>
    <hr />
    <div style="margin-top:20px">
      <p> <i class="fi-trophy" style="color:#C00"></i> &nbsp; Final Red </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
    </div>
  </div>
  <div class="medium-6 columns"> <strong> Blue Teams </strong>
    <div style="margin-top:20px">
      <p> <i class="fi-torsos-all" style="color:#33F"></i> &nbsp; Blue 1 </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
    </div>
    <div style="margin-top:20px">
      <p> <i class="fi-torsos-all" style="color:#33F"></i> &nbsp; Blue 2 </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
    </div>
    <div style="margin-top:20px">
      <p> <i class="fi-torsos-all" style="color:#33F"></i> &nbsp; Blue 3 </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
      <hr />
    </div>
    <div style="margin-top:20px">
      <p> <i class="fi-trophy" style="color:#33F"></i> &nbsp; Final Blue </p>
      <p>
        <input type="text" placeholder="#" maxlength="5" />
      </p>
    </div>
  </div>
  <div class="medium-12 columns">
    <div class="medium-12 columns">
      <h5> <i class="fi-clipboard-notes"></i> Add any notes you have here:</h5>
      <form>
        <div class="row">
          <div class="medium-12 columns">
            <textarea placeholder="Notes"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns"> <a href="#/" class="button small secondary left"> Cancel </a>
    <button type="submit" class="button small right"> Submit </button>
  </div>
</div>
<script src="js/vendor/jquery.js"></script> 
<script src="js/foundation.min.js"></script> 
<script>
      $(document).foundation();
    </script>
</body>
</html>
