<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
<script src="js/vendor/modernizr.js"></script>
</head>
<body>
<div class="row">
  <div class="large-12 columns">
    <h1>Team Data Input</h1>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns">
    <div class="callout panel">
      <p> <i class="fi-die-six"></i> <strong>Team Number</strong>
      <div>
        <input type="text" placeholder="ex: 2811" />
      </div>
      </p>
      <p> <i class="fi-torsos-all"></i> <strong>Team Name</strong>
      <div>
        <input type="text" placeholder="ex: Stormbots" />
      </div>
      </p>
      <p> <i class="fi-book"></i> <strong>School</strong>
      <div>
        <input type="text" placeholder="ex: Skyview High School" />
      </div>
      </p>
      <p> <i class="fi-map"></i> <strong>School Location</strong>
      <div class="row">
        <div class="medium-8 columns">
          <input type="text" placeholder="ex: Vancouver" maxlength="20" />
        </div>
        <div class="medium-4 columns">
          <input type="text" placeholder="ex: WA" maxlength="2" />
        </div>
      </div>
      </p>
      <p> <i class="fi-torso-business"></i> <strong>Leader's Name</strong>
      <div>
        <input type="text" placeholder="ex: Chris Johnson" />
      </div>
      </p>
      <p> <i class="fi-checkbox"></i> <strong>Year Founded</strong>
      <div>
        <input type="text" placeholder="ex: 1993" />
      </div>
      </p>
    </div>
  </div>
  <div class="medium-4 columns">
    <h5> <i class="fi-clipboard-notes"></i> Add any notes you have here:</h5>
    <form>
      <div class="row">
        <div class="medium-12 columns">
          <textarea placeholder="Notes"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns"> <a href="http://foundation.zurb.com/docs/" class="button small secondary left"> Cancel </a>
    <button type="submit" class="button small right"> Submit </button>
  </div>
</div>
<script src="js/vendor/jquery.js"></script> 
<script src="js/foundation.min.js"></script> 
<script>
      $(document).foundation();
    </script>
</body>
</html>
